<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Our_Styles.css" rel="stylesheet" />
@{
    Layout = null;
}


<div class="w3-bar w3-border w3-light-grey">
    <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button w3-hover-teal">1. Stack</a>
    <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button w3-hover-teal">2. Queue</a>
    <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button w3-hover-teal">3. Dictionary</a>
    <a href="https://learningsuite.byu.edu/.qd2W/student/top" class="w3-bar-item w3-button w3-hover-teal">4. Exit</a>
</div>

